
.wide-article-link {
    background-color: #fefefe;
    padding: 1rem 1rem 0.5rem;
    border: 1px solid #cacaca;
    margin-bottom: 1rem;
  }
  
  .wide-article-link .article-title a {
    color: #0a0a0a;
  }
  
  .wide-article-link .article-title a:hover, .wide-article-link .article-title a:focus {
    color: #1779ba;
  }
  
  .wide-article-link .article-elipsis .read-more {
    font-weight: bold;
  }
  
  .wide-article-link .article-title,
  .wide-article-link .article-author,
  .wide-article-link .article-elipsis {
    margin-bottom: 0.25rem;
  }
  
  .wide-article-link .article-social {
    margin-top: 0.75rem;
  }
  
  .wide-article-link .article-social .social {
    margin-right: 0.25rem;
  }
  
  .wide-article-link .article-social .social.comments {
    background-color: #8a8a8a;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.comments:hover, .wide-article-link .article-social .social.comments:focus {
    background-color: #6e6e6e;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.facebook {
    background-color: #3b5998;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.facebook:hover, .wide-article-link .article-social .social.facebook:focus {
    background-color: #2f477a;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.twitter {
    background-color: #55acee;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.twitter:hover, .wide-article-link .article-social .social.twitter:focus {
    background-color: #1a8fe8;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.linkedin {
    background-color: #007bb5;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.linkedin:hover, .wide-article-link .article-social .social.linkedin:focus {
    background-color: #006291;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.google-plus {
    background-color: #dd4b39;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social.google-plus:hover, .wide-article-link .article-social .social.google-plus:focus {
    background-color: #be3221;
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social > .fa {
    color: #fefefe;
  }
  
  .wide-article-link .article-social .social > .fa.fa-comments-o {
    margin-right: 0.25rem;
  }
    